In [4]:
import pandas as pd
import json

In [2]:
df = pd.read_csv('/Users/parlorsky/Downloads/v3_vacancies_type_id (1).csv')

In [5]:
first25 = [16, 27, 31, 33, 49, 52, 54, 58, 61, 69, 74, 91, 116, 119, 128, 134, 283, 336, 663, 706, 767, 783, 833, 836, 919]
second25 = [43, 23, 84, 85, 87, 124, 357, 561, 693, 712, 742, 765, 811, 812, 852, 853, 856, 873, 876, 888, 898, 917, 921, 954, 992]
third25 = [2, 35, 40, 86, 102, 111, 320, 324, 325, 326, 337, 698, 720, 734, 760, 804, 829, 850, 904, 941, 982, 994, 996, 997, 998]

In [6]:
bundles = first25 + second25 + third25

In [3]:
df

,vacancies_type_id,vacancies_type_name,vacancies_type_group_id,vacancies_type_group2_id,education_type_group_id,code_opd,qualification,description,status,updated,bind_user,okz_id,view_type,quality,experience_calc_type
0,-999,Не привязана к типовой позиции,-999,-1,-1,99,0,Вакансии без привязки,1,2023-03-15 23:35:46,Vladimir@vcot.info,-1,1,NaN,7.0
1,1,Бухгалтер,-999,5,2,34,99,Вакансия бухгалтера является сквозной для всех...,1,2023-04-11 17:00:08,r.elena97@vcot.info,127,1,NaN,7.0
2,2,Ветеринарный врач,-999,6,1,26,99,Вакансия ветеринарного врача включает в себя в...,1,2023-05-19 11:51:20,r.elena97@vcot.info,95,1,NaN,3.0
3,3,Водитель автомобиля грузового/специального,-999,8,2,32,99,Данная вакансия включает в себя не только води...,1,2021-12-01 00:00:00,NaN,550,1,NaN,2.0
4,4,Водитель автомобиля легкового,-999,8,3,32,99,Данная вакансия включает в себя только водител...,1,2021-12-01 00:00:00,NaN,547,1,NaN,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799,1019,Дежурный по железнодорожной станции,-999,-999,-1,99,99,Дежурный по железнодорожной станции – это рабо...,1,2023-04-26 11:38:19,r.elena97@vcot.info,-99,1,NaN,NaN
800,1020,Инженер-теплотехник,-999,14,-1,99,99,Инженер-теплотехник - это специалист в области...,1,2023-04-26 12:10:05,r.elena97@vcot.info,-99,1,NaN,NaN
801,1021,Машинист компрессорных установок,-999,-999,-1,99,99,Машинист компрессорных установок - это специал...,1,2023-05-03 11:33:57,r.elena97@vcot.info,-99,1,NaN,NaN
802,1022,Машинист (кочегар) котельной,-999,-999,-1,99,99,"Машинист (кочегар) котельной - это работник, к...",1,2023-05-03 12:00:33,r.elena97@vcot.info,-99,1,NaN,NaN
803,1023,Машинист по стирке и ремонту спецодежды,-999,-999,-1,99,99,Машинист по стирке и ремонту спецодежды - это ...,1,2023-05-04 16:13:39,r.elena97@vcot.info,-99,1,NaN,NaN